.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-xl);
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: opacity 0.2s ease;

  &[data-fetching] {
    .grid {
      opacity: 0.1;
      pointer-events: none;
    }

    .spinner {
      visibility: visible;
    }
  }
}

.spinner {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: var(--z-modal);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
  gap: var(--space-lg);
  max-width: 100%;
  padding: 0 var(--space-md);

  @include from-breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-tertiary);
}
