.spinner {
  display: inline-block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 5px solid var(--color-bg-muted);
  border-radius: 50%;
  border-bottom-color: var(--color-accent);
  animation: rotation 1s linear infinite;
  font-size: 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
